.counter-settings {
    max-width: 500px;
    height: 250px;
    margin: 0 auto;
    border: 3px solid #69DAFA;
    border-radius: 10px;
    padding: 20px;

    @media (max-width: 991px) {
        padding: 10px;
        border-radius: 5px;
        border-width: 1px;
    }

    .counter-settings-in {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .top {
            border: 3px solid #69DAFA;
            border-radius: 10px;
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media (max-width: 991px) {
                border-radius: 5px;
                border-width: 1px;
            }

            .item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;

                .text {
                    color: #69DAFA;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                }

                input {
                    outline: none;
                    background: #fff;
                    border: 2px solid #69DAFA;
                    text-align: center;
                    height: 30px;
                    border-radius: 4px;
                    &.errorInput {
                        color: red;
                        border: 2px solid red;
                    }
                }
            }
        }
        .bottom {
            border: 3px solid #69DAFA;
            border-radius: 10px;
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media (max-width: 991px) {
                border-radius: 5px;
                border-width: 1px;
            }
        }
    }
}